{% extends "mainapp/base.html"%}
{% block title %}{{page.title}}:{% endblock %}
{% block description %}{{page.snippet}}{% endblock %}
{% block content %}
<style>
#chart {
  height: 500px;
}
.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}
.link:hover {
  stroke-opacity: .5;
}
</style>
<h1 class="featurette-heading">{{page.title|firstTitle}}
    <span class="text-muted">{{page.title|secondTitle}}</span>
</h1>
<div class="row">
    <form class="form-inline" role="form">
        <div class="form-group col-md-2">
            <label for="finisher_ratio" class="control-label">得点者比率(%)</label>
            <input type="number" min="0" max="100" class="form-control" id="finisher_ratio" placeholder="%" value="80">
        </div>
        <div class="form-group col-md-2">
            <label for="gk_ratio" class="control-label">GK貢献度(%)</label>
            <input type="number" min="0" max="100" class="form-control" id="gk_ratio" placeholder="%" value="100">
        </div>
        <div class="form-group col-md-2">
            <label for="j2_player" class="control-label">J2期待値(%)</label>
            <input type="number" min="0" max="100" class="form-control" id="j2_player" placeholder="%" value="33">
        </div>
        <div class="form-group col-md-2">
            <label for="from_oversea" class="control-label">海外→加入期待値</label>
            <input type="number" min="0" max="30" class="form-control" id="from_oversea" placeholder="" value="2">
        </div>
        <span class="btn btn-info" id="redraw">再描画<span class="glyphicon glyphicon-refresh"></span></span>
        <span class="btn btn-default" id="set-default">デフォルトに戻す</span>
    </form>
</div>
<div class="row">
    <span>データ更新日:</span><span id="update-date"></span>
</div>
<div class="row">
    <div class="col-md-8" style="height:1200px" id="chart-container">
        <p id="chart"></p>
    </div>
    <div class="col-md-4" id="trade-detail">
    </div>
</div>
<div class="row">
    <div class="col-md-9 page-body">
        {{page.content|safe}}
    </div>
</div>

{% endblock %}
{%block scripts%}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/media/js/sankey.js"></script>
<script>
//parameters init
var new_season_id = 19;
var gk_defence_ratio = 1.417;
var finisher_ratio_default = 80;
var gk_ratio_default = 100;
var from_oversea_default = 2;
var j2_player_default = 33;

var margin = {top: 1, right: 1, bottom: 6, left: 1},
    width = 630 - margin.left - margin.right,
    height = 1100 - margin.top - margin.bottom;

var formatNumber = d3.format(",.0f"),
    format = function(d) { return formatNumber(d); },
    color = d3.scale.category20();

True=true;
False=false;
trades={"directed": true, "graph": [], 
    "nodes": [], 
    "links": [],
    "data":{},"multigraph": false,"update":""};

$(document).ready(function() {
    var hashVars = window.location.hash.replace(/#/g,'').split('&');
    //console.log(hashVars);
    $.each(hashVars,function(i,val){
        var hashKeyAndValue = val.split('=');
        if(hashKeyAndValue[0] === 'finisher_ratio'){
            if(typeof parseInt(hashKeyAndValue[1])==='number'){
                $('#finisher_ratio').val(hashKeyAndValue[1]);
            }
        }
        if(hashKeyAndValue[0] === 'j2_player'){
            if(typeof parseInt(hashKeyAndValue[1])==='number'){
                $('#j2_player').val(hashKeyAndValue[1]);
            }
        }
        if(hashKeyAndValue[0] === 'from_oversea'){
            if(typeof parseInt(hashKeyAndValue[1])==='number'){
                $('#from_oversea').val(hashKeyAndValue[1]);
            }
        }
        if(hashKeyAndValue[0] === 'gk_ratio'){
            if(typeof parseInt(hashKeyAndValue[1])==='number'){
                $('#gk_ratio').val(hashKeyAndValue[1]);
            }
        }
    });
    
    $.getJSON('{{url_for('vapp/trade_data')}}', function (result) {
        trades.data = result;
        setChartData();
        drawChart();
    });
});
//drawChart();

function setChartData(){
    var nodes = [];
    var links = [];
    var nodes_dic = {};
    var result = trades.data;
    trades.update = result.update;
    $('#update-date').text(trades.update);
    var finisher_ratio = parseInt($("#finisher_ratio").val()) / 100;
    if((finisher_ratio == NaN)||(finisher_ratio > 1.0)){
        finisher_ratio = finisher_ratio_default / 100;
        $("#finisher_ratio").val(finisher_ratio_default);
    }
    var gk_ratio = parseInt($("#gk_ratio").val()) / 100;
    if((gk_ratio == NaN)||(gk_ratio > 1.0)){
        gk_ratio = gk_ratio_default / 100;
        $("#gk_ratio").val(gk_ratio_default);
    }
    var j2_player = parseInt($("#j2_player").val()) / 100;
    if((j2_player == NaN)||(j2_player > 1.0)){
        j2_player = j2_player_default / 100;
        $("#j2_player").val(j2_player_default);
    }
    var from_oversea = parseInt($("#from_oversea").val());
    if((from_oversea == NaN)||(from_oversea > 30)){
        from_oversea = from_oversea_default;
        $("#from_oversea").val(from_oversea_default);
    }
    $.each(result.nodes,function(i,val){
        if(typeof val.base_value !== 'undefined'){
            nodes_dic[val.name] = {'base_value':val.base_value,'id':val.id};
        }
        nodes.push(val);
    });
    //console.log(nodes_dic);
    $.each(result.links,function(i,val){
        if(val.player_type == 'GK'){
            val.value = (((val.goal_lost / val.game_count) - gk_defence_ratio)*val.game_count)*val.save_ratio*-0.01;
            if(val.j_class == 'J2'){
                val.value = val.value * j2_player;
            }
            val.value = val.value * gk_ratio;
            links.push(val);
        }else{
            //todo j2選手の処理
            val.value = (val.goal_get * finisher_ratio) + val.assist * ( 1 - finisher_ratio);
            if(val.j_class == 'J2'){
                val.value = val.value * j2_player;
            //}else if(val.j_class == '高卒新人'){
            //    val.value = from_high_school;
            //}else if(val.j_class == '大卒新人'){
            //    val.value = from_univ;
            }else if(val.j_class == '外国籍選手'){
                val.value = from_oversea;
            }
            links.push(val);
        }
        if(typeof nodes_dic[val.old_team] !== 'undefined'){
                nodes_dic[val.old_team].base_value = nodes_dic[val.old_team].base_value - val.value;
        }
    });
    //console.log(links);
    //console.log(nodes_dic);
    $.each(nodes_dic,function(i,val){
        //console.log(val);
        links.push({'source':val.id,'name':'残留','target':val.id+new_season_id,'value':val.base_value})
    });
    //console.log(links);
    nodes.sort(function(a,b){
            var a_id = a["id"];
            var b_id = b["id"];
            if( a_id < b_id ) return -1;
            if( a_id > b_id ) return 1;
            return 0;
    });
    trades.nodes = nodes;
    trades.links = links;
    //console.log(trades);
    //drawChart();
    if((format(finisher_ratio*100)==finisher_ratio_default)&&(format(gk_ratio*100)==gk_ratio_default)&&(format(j2_player*100)==j2_player_default)&&(from_oversea==from_oversea_default)){
    }else{
        window.location.hash = "finisher_ratio="+format(finisher_ratio*100)+"&gk_ratio="+format(gk_ratio*100)+'&j2_player='+format(j2_player*100)+'&from_oversea='+from_oversea;
    }
}

function drawChart(){ 
    var svg = d3.select("#chart").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var sankey = d3.sankey()
        .nodeWidth(15)
        .nodePadding(10)
        .size([width, height]);
    var path = sankey.link();

    sankey
      .nodes(trades.nodes)
      .links(trades.links)
      .layout(32);

    var link = svg.append("g").selectAll(".link")
      .data(trades.links)
    .enter().append("path")
      .attr("class", "link")
      .attr("d", path)
      .style("stroke-width", function(d) { return Math.max(1, d.dy); })
      .sort(function(a, b) { return b.dy - a.dy; });

    link.append("title")
      .text(function(d) { return d.name +'('+d.source.name + " -> " + d.target.name + ")" + format(d.value); });

    var node = svg.append("g").selectAll(".node")
      .data(trades.nodes)
    .enter().append("g")
      .attr("class", "node")
      .attr("data-team-name", function(d){return d.name })
      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
      .on("click",showTeamDetail);
/*    .call(d3.behavior.drag()
      .origin(function(d) { return d; })
      .on("dragstart", function() { this.parentNode.appendChild(this); })
      .on("drag", dragmove));*/

    node.append("rect")
      .attr("height", function(d) { return d.dy; })
      .attr("width", sankey.nodeWidth())
      //.style("fill", function(d) { return d.color = color(d.name.replace(/ .*/, "")); })
      .style("fill", function(d) { return d.color; })
      .style("stroke", function(d) { return d3.rgb(d.color).darker(2); })
    .append("title")
      .text(function(d) { return d.name + " " + format(d.value); });

    node.append("text")
      .attr("x", -6)
      .attr("y", function(d) { return d.dy / 2; })
      .attr("dy", ".35em")
      .attr("text-anchor", "end")
      .attr("transform", null)
      .text(function(d) {
          if(typeof d.base_value !== 'undefined'){
              return d.name+'('+format(d.value)+')'; 
          }else{
              return '('+format(d.value)+')'+d.name; 
          }
      })
    .filter(function(d) { return d.x < width / 2; })
      .attr("x", 6 + sankey.nodeWidth())
      .attr("text-anchor", "start");
}

function dragmove(d) {
d3.select(this).attr("transform", "translate(" + d.x + "," + (d.y = Math.max(0, Math.min(height - d.dy, d3.event.y))) + ")");
sankey.relayout();
link.attr("d", path);
}
function showTeamDetail(d){
    //console.log(d.name);
    var out_players = '';
    var in_players = '';
    $.each(trades.links,function(i,val){
        if(val.old_team == d.name){
            out_players += '<tr class="warning"><td>'+val.name+'('+format(val.value)+')</td><td>→ '+val.new_team+'</td></tr>'; 
        }
        if(val.new_team == d.name){
            in_players += '<tr class="active"><td>'+val.old_team+' →</td><td>'+val.name+'('+format(val.value)+')</td></tr>'; 
        }
    });
    //console.log(out_players);
    //console.log(in_players);
    $('#trade-detail').html('<table class="table table-condensed"><caption>'+d.name+'</caption>'+out_players+in_players+'</table>');
}
$('#redraw').on('click',function(){
    $('#chart').remove();
    $('#chart-container').html('<p id="chart"></p>');
    $('#trade-detail').html('');
    setChartData();
    drawChart();
});
$('#set-default').on('click',function(){
    $('#chart').remove();
    $('#chart-container').html('<p id="chart"></p>');
    $('#trade-detail').html('');
    window.location.hash = '';
    $('#finisher_ratio').val(80);
    $('#gk_ratio').val(100);
    $('#j2_player').val(33);
    $('#from_oversea').val(2);
    setChartData();
    drawChart();
});
</script>

{% endblock %}
